li {
  padding: 15px;
  margin-bottom: 5px;
  border: 1px dotted black;
}

#devouredCol li {
  padding: 5px;
  background-color: #ccc;
  color: gray;
  font-style: italic;
}

#devouredCol button {
  padding: 2px;
}

.label {
font-weight: bold;
}

ul {
  padding: 5px;
  list-style-type: none;
}

