<li class="rounded-lg">
    {{burger_name}}

    {{#unless devoured}}
        <button type="button" class="change-devoured btn btn-warning btn-sm float-right" data-id="{{id}}" data-devouredstate="{{devoured}}">DEVOUR ME!</button>
    {{/unless}}
</li>